<div class="row help-request">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h3 class="request-title"><%= help_request.title %></h1>
    <h4 class="request-author"><%= help_request.author.full_name %></h2>
    <p class="request-description"><%= help_request.description %></p>
  </div>
  <div class="col-md-2"></div>
</div>
