<% provide(:button_text, "Dodaj") %>
<div class="container form">
  <div class="form-center">
    <h1>New Help Request</h1>

  <%= render 'form', help_request: @help_request %>

  <%= link_to 'Back', help_requests_path %>
  </div>
</div>
