<% provide(:button_text, "Dodaj") %>
<div class="container form">
  <div class="form-center">
    <h1>Jakiej pomocy potrzebujesz?</h1>

  <%= render 'form', help_request: @help_request %>
  </div>
</div>
