@import "bootstrap-sprockets";
@import "bootstrap";

/* typography */

body {
  font-family: Lato;
}
.jumbotron {
  background: white;
  h1 {
    font-size: 38pt;
  }
  p {
    font-size: 14pt;
    font-weight: 500;
  }
}

h1 {
  font-size: 22pt;
}
h2 {
  font-size: 18pt;
}
h3 {
  font-size: 16pt;
}
p {
  font-size: 12pt;
  font-weight: bold;
}



/* navbar */

#logo {
  margin-right: 10px;
  padding-top: 3px;
  &:hover {
    text-decoration: none;
  }
}

.header-logo{
  height: 53px;
}

.navbar {
  margin-bottom: 0px;
  font-size: 12pt;
  padding-bottom: 7px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.navbar-nav {
  padding-top: 3px;
}
/*
.navbar-nav{
  width: 100%;
  > li {
    display: inline-block;
  }
}*/


/* footer */

footer {
  margin-bottom: 15px;
  padding-top: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(0,0,0,0.1);
}