@import "bootstrap-sprockets";
@import "bootstrap";

/* typography */

body {
  font-family: Lato;
}
.jumbotron {
  background: white;
  h1 {
    font-size: 38pt;
  }
  p {
    font-size: 14pt;
    font-weight: 500;
  }
}

h1 {
  font-size: 24pt;
}
h2 {
  font-size: 18pt;
}
h3 {
  font-size: 16pt;
}
p {
  font-size: 12pt;
  font-weight: 500;
}



/* navbar */

#logo {
  margin-right: 10px;
  padding-top: 3px;
  &:hover {
    text-decoration: none;
  }
}

.header-logo{
  height: 53px;
}

.navbar {
  margin-bottom: 0px;
  font-size: 12pt;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.navbar-nav {
  padding-top: 4px;
  li {
    .sign-in {
      height: 53px;
      padding: 0 10px;
      a{
        color: white;
      }
    }
  }
}


/* footer */

footer {
  margin-bottom: 15px;
  padding-top: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(0,0,0,0.1);
}

/* request */

.request-content {
  padding-top: 20px
}

.request-title {
  display: block;
  font-size: 32pt;
}
.draft{
  color: $gray-light;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.active {
  color: dodgerblue;
  border-bottom: 1px solid rgba(11,64,112,0.3);
}
.complete {
  color: green;
  border-bottom: 1px solid rgba(0,116,0,0.5);
}

.request-author{
  margin-top: 5px;
  font-size: 16pt;
}

.request-button{
  text-align: right;
}