@import "bootstrap-sprockets";
@import "bootstrap";
@import␣url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800&subset=latin-ext');

@mixin serif-font {
  font-family: "Open␣Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* typography */

body {
  @include serif-font;
}

.jumbotron {
  background: white;
  h1 {
    font-size: 38pt;
  }
  p {
    font-size: 14pt;
    font-weight: 500;
  }
}

h1 {
  font-size: 24pt;
}
h2 {
  font-size: 18pt;
}
h3 {
  font-size: 16pt;
}
p {
  font-size: 12pt;
  font-weight: 500;
}

/* navbar */

header.navbar {
  margin-top: 15px;
}

#logo {
  margin-right: 10px;
  padding-top: 3px;
  &:hover {
    text-decoration: none;
  }
}

.header-logo{
  height: 64px;
}

.navbar {
  margin-bottom: 0px;
  font-size: 12pt;
  padding-bottom: 7px;
}
.navbar-nav {
  padding-top: 8px;
  padding: 5px 10px;
  a {
    font-size: 12pt;
    text-decoration: none;
  }
  li {
    margin-right: 5px;
    button {
      padding: 15px 20px;
      &.btn-default {
        border-color: white;
      }
      &.sign-in a {
        color: white;
      }
    }
  }
}

/* footer */

footer {
  margin-bottom: 15px;
  padding-top: 15px;
  //position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(0,0,0,0.1);
}

/* request */

.request-content {
  padding-top: 20px 0;
}

.request-title {
}

.draft{
  color: $gray-light;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.active {
  color: dodgerblue;
  border-bottom: 1px solid rgba(11,64,112,0.3);
}
.complete {
  color: green;
  border-bottom: 1px solid rgba(0,116,0,0.5);
}

.request-author{
  margin-top: 5px;
  font-size: 16pt;
}

.request-button{
  text-align: right;
}

/*  form */

form {
  margin-top: 20px;
}

.form-control {
  margin-bottom: 10px;
}

.form-center{
  width: 65%;
  margin: auto;
}

textarea.form-control {
  height: 300px;
}

.help-request {
  margin: 30px 0;
}
